[Desktop Entry]
Encoding=UTF-8
Name=HewettCoin
Comment=HewettCoin P2P Cryptocurrency
Comment[fr]=HewettCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HewettCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/hewettcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/hewettcoin;
Categories=Office;
